<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
<% if @user.studies.any? %>
<table class="pieces">
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  Pieces studied: <%= @user.studies.count %>
  <% @user.pieces.order(:title).each do |piece| %>
  <tr>
    <%= render piece %>
  </tr>
<% end %>
</table>
<% end %>
</div>