  <% unless current_user?(@user) %>
  <div id="study_form">
  <% if current_user.studying?(@piece) %>
    <%= render 'abandon' %>
  <% else %>
    <%= render 'study' %>
  <% end %>
  </div>
  <% end %>