<h1>Sets</h1>

<%= will_paginate %>

<table class="pieces">
  <tr>
    <th>Title</th>
    <th>Piece</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pieces.order(:title).each do |piece| %>
  <tr>
    <%= render piece %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Piece', new_piece_path %>
