<div id="confirmed"></div>

<form id="myForm">
    <textarea name="box"></textarea> 
    <%= hidden_field_tag "content", @piece.content %>
</form>

<div id="debug"></div>

<script> 
    $(document).ready(function() {
    	$('textarea').focus();

    	var wordNum = 0;
    	var completed = "";
        var total = "";
    	var raw_poem = <%= raw @piece.content.to_json %>;

    	poem = raw_poem.replace(/\s*\n/g, "|").replace(/^\s*/,"");
        var pieces = poem.split(/\b/);
        var words = [];
        var textonly = []; var nottext= [];
        for (var x = 0; x<pieces.length; x++) {
            var check = 0;
            var piece = pieces[x];
            if (piece.match(/\w+/)) {
                word = true;
            } else {
                word = false;
            }
            words.push( { text: piece, check: word} );
        }
        for (var x = 0; x<words.length; x++) {
            total += words[x].text;
        }
//        $('#debug').text(total);

        $('#myForm').keyup(function(e) {
            console.log("****");
            var inputLetter = String.fromCharCode(e.keyCode);
            if (! inputLetter.match(/[A-Za-z0-9]/)) {
                console.log("Ignoring typed whitespace");
                $('textarea').val($('textarea').val().replace(/[^A-Za-z0-9]/g,''));
                return 0;
            }
            var typed = $('textarea').val().toUpperCase();  
            var correctLetters = words[wordNum].text.toUpperCase();
            var len = typed.length;
            console.log("SUBSTRING: " + correctLetters.substring(0,len));

            if ( len > 0 && correctLetters.substring(0,len) == typed ){
           		$('textarea').css("color","black");
                if (len == correctLetters.length) {
                    $('textarea').val("");
                    completed += words[wordNum].text; 
                    while ( words[++wordNum].check == false) {
                        if (words[wordNum].text.match(/\|/)) {
                            chunk = "<br />";
                            console.log(" *** EOL ***");
                        } else {
                            chunk = words[wordNum].text;
                        }
                        completed += chunk;
                        $('#confirmed').html(completed);
                    }
                    //var completed = words.slice(0,wordNum).join('');
                    console.log("COMPLETED: " + completed);
                }
       		} else {
       			// letter is incorrect
           		$('textarea').css("color","red");
           	}
//            $('#debug').text("TYPED: " + typed + " " + correctLetters);

        	// Write hashed cookie to record progress and guard against browser refresh
//            $('#debug').text("TYPED: " + typed)
        }); 

    });

    function show_completed(poem,j) {
		$('#confirmed').text(poem.substring(0,j));
    }

    function crement(index,num) {
    	// if character is whitespace or punctuation, skip ahead one
    	index += num
    	if (index < 0) { index = 0}
    	return index
    }

// javascript library called "decorations" to sanitise foreign characters
</script> 