  <% unless current_user?(@user) %>
  <div id="study_form">
  <% if current_user.studying?(@piece) %>
    <%= render 'studies/abandon_action' %>
  <% else %>
    <%= render 'studies/study_action' %>
  <% end %>
  </div>
  <% end %>